.thumbnail::before {
  content: "";
  background-image: url("./Media/hacker-man-hacker.gif");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}
.section {
  margin: 5em;
}
.title {
  margin-bottom: 1em;
}
.screenshot {
  max-width: 200px;
}